

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}


body { background-color: black; padding: 50px; box-sizing: border-box;}

h1 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: 4em; text-align: center;}
h2 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: 1.5em; text-align: center;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: 1.2em; text-align: center;}


header {height: 200px; margin-bottom: 25px; background-color: crimson; border: solid 5px black;}
nav {height: 75px; margin-bottom: 25px; background-color: crimson; border: solid 5px black;}

main {display: flex; flex-grow: 1; justify-content: space-between; margin-bottom: 25px;}

article {width: 70%; background-color: crimson; border: solid 5px black;}
section {width: 25%; background-color: crimson; border: solid 5px black;}

footer {height: 125px; background-color: crimson; border: solid 5px black;}
